/* NAVIGATION BAR *****************************************/

.navbar-default {
	color:#FFFFFF;
	background-color:#19193D;
	border-color:#FFFFFF;	
}
/* Brand */
.navbar-default .navbar-brand {
	color:#FFFFFF;
}
/* Brand - Hover & Focus */
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
	color:#08CC29;
	background-color: transparent;
}
/* Pages Not Active */
.navbar-default .navbar-nav > li > a {
	color:#FFFFFF;
}
/* Pages Not Active - Hover & Focus */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
	color:#08CC29;
	background-color: #101029;
}
/* Pages Active */
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
	color: #08CC29;
	background-color: #101029;
}
/* Pages - Dropdown */
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	color: #08CC29;
	background-color: #101029;
}


/* FOOTER *****************************************/

.navbar.navbar-inverse.navbar-fixed-bottom {
	background-color: #19193D;
}
/*	 Links to Website */
.navbar-text a {
	color: #FFFFFF;
	text-decoration: none;
}
/*	Link to other Websites */
.navbar-text.pull-right > a {
	color:inherit;
	text-decoration: none;
}
/*	Links - Hover */
.navbar-text a:hover {
	color: #08CC29;
}

/* SIDEBAR *****************************************/

.bg-grey {
	background-color: #F9F9F9;
}

/* FONTS *****************************************/

/*	Headers */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Candal', sans-serif;
}
/*	Paragraphs */
p {
	font-family: 'Montserrat', sans-serif;
}

/* GOOGLE MAP *****************************************/

.map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* PRIMARY BUTTON *****************************************/

.btn-primary {
	color:#FFFFFF;
	background-color: #19193D;
	border-color:#19193D;	
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	color: #FFFFFF;
	background-color: #101029;
	border-color: #161F29;
}

/*	SUCCESS BUTTON *****************************************/

.btn-success {
	background-color: #18BC9C;
	border-color:#18BC9C;
	color:#FFFFFF;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
	color: #FFFFFF;
	background-color: #13987E;
	border-color: #13987E;
}

/* MISC *****************************************/

/*	Body */
body {
	padding-top:70px;
	padding-bottom:100px;
	padding-right:50px;
	padding-left:50px;
}
/* Space between Images and Carousel */
.row {
	padding-top: 20px;
}
/* Space between Body and Footer */
.spacer {
	height: 80px;	
}
/* Contact Submit Button */
.contact-submit {
	text-align: right;
	padding-bottom: 20px;
}
/* Contact Message */
textarea {
	resize: none;
}